{
  "presets": ["next/babel", "@babel/preset-env"],
  "plugins": [["styled-components", { "ssr": true }]],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
